.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: rgba($color-white, 0.5);
    border: none;
    font-family: inherit;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    color: inherit;

    @include respond(tab) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0rem 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &::placeholder {
      color: $color-gray-dark-1;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &:placeholder-shown ~ .form__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
  }

  &__label {
    display: inline-block;
    font-size: 1.2rem;
    font-size: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    opacity: 1;
    transition: all 0.3s;
  }

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 5rem;
  }

  &__radio-button {
    display: inline-block;
    position: absolute;
    border-radius: 1000px;
    width: 3rem;
    height: 3rem;
    border: 3px solid $color-primary;
    top: -0.4rem;
    left: 0;

    &::after {
      content: "";
      padding: 0.9rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1;
  }
}
